@import '~@angular/material/theming';
@include mat-core();

$lemonmart-primary: mat-palette($mat-green, 800);
$lemonmart-accent: mat-palette($mat-lime, A400);

$lemonmart-app-theme: mat-light-theme($lemonmart-primary, $lemonmart-accent);

@include angular-material-theme($lemonmart-app-theme);
